{% load staticfiles %}
<nav class="bg-dark p-4" style="background-color: #5ba2d4;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src= "{% static "/Screenshot (28).png" %}" width="30" height="30" class="d-inline-block align-top"
                alt="">
            GetNotes
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/">Notes</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search/">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</nav>